doctype html
html(lang="en")

head
meta(charset="UTF-8")
title 500 - Internal Error #CodePenChallenge
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
link(rel="stylesheet" href="/css/error.css")

body
   p.info Oh No! No se puede abrir esta pagina
   h1.internal
      span.five 5
      span.zero 0
      span.zero 0
   footer.link
      a(href="https://www.altreiter.at") altreiter.at