doctype html
html
head
   meta(charset="UTF-8")
   title Error Pagina
   link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
   link(rel="stylesheet" href="/css/error.css")
body
   p.info Oh No! Hubo un problema al iniciar!
   h1.internal
      span.five 5
      span.zero 0
      span.zero 0
   footer.link
      a(href="/") Volver