doctype html
html(lang='en')

    head
        meta(charset='UTF-8')
        meta( name = 'viewport' content = 'width=device-width, initial-scale=1, shrink-to-fit=no')
        title Welcome to #{title}
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600')
        link(rel='stylesheet' href='/css/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/shop-homepage.css')
        link(rel='stylesheet' href='/css/estilos.css')
        link(rel="icon" type="image/png" href="/images/icon/favicon.ico")
        link(rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")
        link(rel="stylesheet" type="text/css" href="/vendor/animate/animate.css")
        link(rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css")
        link(rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css")
        link(rel="stylesheet" type="text/css" href="/css/util.css")     
        link(rel="stylesheet" type="text/css" href="/css/main.css")

    body
        nav(class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top')
            .container  
                a(class='navbar-brand' href='#') Start Bootstrap
                button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation') 
                    span(class='navbar-toggler-icon')
                #navbarResponsive(class='collapse navbar-collapse collapse')
                    ul(class = 'navbar-nav ml-auto')
                        li(class='nav-item active')
                            a(class='nav-link' href='#') Home
                                span(class='sr-only')
                        li(class='nav-item')
                            a(class='nav-link' href='#') Productos
                        if(rol==='admin')
                            li(class='nav-item')
                                a(class='nav-link' href='#') Administracion
                        li(class='nav-item')
                            a(class='nav-link' href='#') Nosotros
                        li(class='nav-item')
                            a(class='nav-link' href='/logout') Cerrar session
        div(id="content")
            p 
                h1 Tu pedido sera enviado
            h3 Por favor escribe la direccion, en donde  recibira
            form
                center
                    div(class="wrap-input100 validate-input m-b-16")
                        input(type="text" name="num" id="numero" placeholder="Nnumero" required)
                    div(class="wrap-input100 validate-input m-b-16")
                        input(type="text" name="num" id="numero" placeholder="Calle principal" required) 
                    div(class="wrap-input100 validate-input m-b-16")
                        input(type="text" name="num" id="numero" placeholder="Calle secundaria" required) 
                    div(class="wrap-input100 validate-input m-b-16")
                        input(type="text" name="num" id="numero" placeholder="ciudad" required) 
                    div(class="wrap-input100 validate-input m-b-16")
                        input(type="text" name="num" id="numero" placeholder="Provincia/Region" required) 
                    div(class="wrap-input100 validate-input m-b-16")
                        input(type="text" name="num" id="numero" placeholder="codPostal" required) 
                    div(class="wrap-input100 validate-input m-b-16")
                        select(name="")
                            option(value="val")
            

        footer(class='py-5 bg-dark')
            .container
                p(class='m-0 text-center text-white') Copyright &copy; Your Website 2019 
        script(src='css/vendor/jquery/jquery.min.js')
        script(src='css/vendor/bootstrap/js/bootstrap.bundle.min.js')