doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta( name = 'viewport' content = 'width=device-width, initial-scale=1, shrink-to-fit=no')
        title Welcome to #{title}
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600')
        link(rel='stylesheet' href='/css/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/shop-homepage.css')
        link(rel='stylesheet' href='css/estilos.css')

    body
        nav(class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top')
            .container  
                a(class='navbar-brand' href='#') Start Bootstrap
                button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation') 
                    span(class='navbar-toggler-icon')
                #navbarResponsive(class='collapse navbar-collapse collapse')
                    ul(class = 'navbar-nav ml-auto')
                        li(class='nav-item active')
                            a(class='nav-link' href='#') Home
                        li(class='nav-item')
                            a(href='/login' class='nav-link') Inicie
                        li(class='nav-item')
                            a(class='nav-link' href='#') Productos
                        li(class='nav-item')
                            a(class='nav-link' href='#') Nosotros
        .container
            .content-page
                .hidden-xs.content-carousel
                #carouselExampleIndicators(class='carousel slide my-4' data-ride='carousel' style='margin-top:0;')
                        ol(class='carousel-indicators') 
                            li(data-target='#carouselExampleIndicators' data-slide-to='0' class='active')
                            li(data-target='#carouselExampleIndicators' data-slide-to='1' )
                            li(data-target='#carouselExampleIndicators' data-slide-to='2' )
                        .carousel-inner(role='listbox')
                            .carousel-item.active
                                img(class='d-block img-fluid' src='http://placehold.it/1110x350' alt='First slide')
                            .carousel-item    
                                img(class='d-block img-fluid' src='http://placehold.it/1110x350' alt='Second slide')
                            .carousel-item    
                                img(class='d-block img-fluid' src='http://placehold.it/1110x350' alt='Third slide')
                        a(class='carousel-control-prev' href='#carouselExampleIndicators' role='button' data-slide='prev')
                            span(class='carousel-control-prev-icon' aria-hidden='true') 
                            span(class='sr-only') Previous 
                        a(class='carousel-control-next' href='#carouselExampleIndicators' role='button' data-slide='next')
                            span(class='carousel-control-next-icon' aria-hidden='true')
                            span(class='sr-only') Next
      footer(class='py-5 bg-dark')
        .container
            p(class='m-0 text-center text-white') Copyright &copy; Your Website 2019 
    script(src='css/vendor/jquery/jquery.min.js')
    script(src='css/vendor/bootstrap/js/bootstrap.bundle.min.js')