doctype
html(lang="es")
head
    meta(charset="UTF-8")
    title #{title}
    link(rel="stylesheet", href="stilo1.css")
    link(type="text/css",charset="UTF-8" rel="stylesheet", 
    href="https://translate.googleapis.com/translate_static/css/translateelement.css")

body
    .login-box
        h1
            font(style="vertical-align: inherit")
                font(style="vertical-align: inherit") Iniciar Sesion
        div(id="content")
            include fragmentos/frm_login.jade
