doctype html
html(lang='en')

    head
        meta(charset='UTF-8')
        meta( name = 'viewport' content = 'width=device-width, initial-scale=1, shrink-to-fit=no')
        title Welcome to #{title}
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:600')
        link(rel='stylesheet' href='/css/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/shop-homepage.css')
        link(rel='stylesheet' href='css/estilos.css')


    body
        nav(class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top')
            .container  
                a(class='navbar-brand' href='#') Start Bootstrap
                button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation') 
                    span(class='navbar-toggler-icon')
                #navbarResponsive(class='collapse navbar-collapse collapse')
                    ul(class = 'navbar-nav ml-auto')
                        li(class='nav-item active')
                            a(class='nav-link' href='#') Home
                                span(class='sr-only')
                        li(class='nav-item')
                            a(class='nav-link' href='#') Productos
                        if(rol==='admin')
                            li(class='nav-item')
                                a(class='nav-link' href='#') Administracion
                        li(class='nav-item')
                            a(class='nav-link' href='#') Nosotros
                        li(class='nav-item')
                            a(class='nav-link' href="/logout") Cerrar sesion
        .container
            .content-page
                .hidden-xs.content-carousel
                #carouselExampleIndicators(class='carousel slide my-4' data-ride='carousel' style='margin-top:0;')
                        ol(class='carousel-indicators') 
                            li(data-target='#carouselExampleIndicators' data-slide-to='0' class='active')
                            li(data-target='#carouselExampleIndicators' data-slide-to='1' )
                            li(data-target='#carouselExampleIndicators' data-slide-to='2' )
                        .carousel-inner(role='listbox')
                            .carousel-item.active
                                img(class='d-block img-fluid' src='http://placehold.it/1110x350' alt='First slide')
                            .carousel-item    
                                img(class='d-block img-fluid' src='http://placehold.it/1110x350' alt='Second slide')
                            .carousel-item    
                                img(class='d-block img-fluid' src='http://placehold.it/1110x350' alt='Third slide')
                        a(class='carousel-control-prev' href='#carouselExampleIndicators' role='button' data-slide='prev')
                            span(class='carousel-control-prev-icon' aria-hidden='true') 
                            span(class='sr-only') Previous 
                        a(class='carousel-control-next' href='#carouselExampleIndicators' role='button' data-slide='next')
                            span(class='carousel-control-next-icon' aria-hidden='true')
                            span(class='sr-only') Next
        if(rol==='admin')
            .container
                h1(class='my-4') Administracion de la tienda
                .list-group 
                    #accordionExample(class='accordion')
                        .card
                            #headingOne(class='card-header')
                                button(class='btn btn-link' type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne') Productos
                            #collapseOne(class='collapse' aria-labelledby='headingOne' data-parent='#accordionExample')
                                .card-body 
                                    .container
                                        .row
                                            .col-lg-5
                                                h1(class='my-4') + Nuevo Producto
                                                .list-group
                                                    form(class='form-group' action='/guardarProducto' method='Post' enctype='multipart/form-data') 
                                                        input(type='hidden' name='external' value='0' required)
                                                        label(for='formGroupExampleInput') Codigo del producto
                                                        input(type='text' class='form-control' id='codigoP' placeholder='Codigo' name='codigoProducto' required)
                                                        label(for='formGroupExampleInput') Nombre del producto
                                                        input(type='text' class='form-control' id='codigoP' placeholder='Nombre' name='nombreProducto' required)
                                                        label(for='formGroupExampleInput') Descripcion del producto
                                                        input(type='text' class='form-control' id='nombreP' placeholder='Descripcion' name='descripcionProducto' required) 
                                                        label(for='formGroupExampleInput') Marca del producto
                                                        input(type='text' class='form-control' id='nombreP' placeholder='Marca' name='marcaProducto' required)             
                                                        brlabel(for='exampleFormControlSelect1') Categoria del producto
                                                            select(class='form-control' id='exampleFormControlSelect1' name='categoria')
                                                                each val, i in categoria
                                                                    option(value=val.id) #{val.nombreCategoria}
                                                        label(for='formGroupExampleInput') Precio del producto
                                                        input(type='text' class='form-control' id='precioP' placeholder='Precio' name='precioProducto' required)
                                                        label(for='formGroupExampleInput') Modelo del producto
                                                        input(type='text' class='form-control' id='modeloP' placeholder='Modelo' name='modeloProducto' required)
                                                        label(for='formGroupExampleInput') Existencias del producto
                                                        input(type='text' class='form-control' id='unidadP' placeholder='Existencias' name='existencia' required)
                                                        label(for='formGroupExampleInput') Elegir imagen
                                                        input(type='file' class='form-control' id='exampleFormControlFile1' accept='image/*' name='imagen' required)
                                                        input(type='submit' class='btn btn-dark' value='agregar')
                                                #exampleModalCenter(class='modal fade' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
                                                    .modal-dialog.modal-dialog-centered(role='document')
                                                        .modal-content
                                                            .modal-header   
                                                                h5(class='modal-title' id='exampleModalCenterTitle') Quiere Realizar la siguiente accion
                                                                button(type="button" class='close' data-dismiss='modal' aria-label='Close')
                                                                    span(aria-hidden='true')
                                                            .modal-body
                                                                p() Si no esta seguro de realizar esta acci贸n de click en cerrar.
                                                                .br() Caso contrario siga con la accion y de click en guardar. 
                                                            .modal-footer
                                                                button(type='button' class='btn btn-secondary' data-dismiss='modal') Cerrar 
                                                                button(type='submit' class='btn btn-primary') Guardar
                                            .col-lg-5
                                                h1(class='my-4') - Eliminar Un Producto
                                                .list-group
                                                    form(class='form-group' action="") 
                                                        label(for='formGroupExampleInput') Codigo del producto
                                                        input(type='text' class='form-control' id='codigo' placeholder='Codigo')
                                                button(type='button' class='btn btn-dark' data-toggle='modal' data-target='#exampleModalCenter') Eliminar
                                                #exampleModalCenter(class='modal fade' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
                                                    .modal-dialog.modal-dialog-centered(role='document')
                                                        .modal-content
                                                            .modal-header   
                                                                h5(class='modal-title' id='exampleModalCenterTitle') Quiere Realizar la siguiente accion
                                                                button(type="button" class='close' data-dismiss='modal' aria-label='Close')
                                                                    span(aria-hidden='true')
                                                            .modal-body
                                                                p() Si no esta seguro de realizar esta acci贸n de click en cerrar.
                                                                .br() Caso contrario siga con la accion y de click en guardar. 
                                                            .modal-footer
                                                                button(type='button' class='btn btn-secondary' data-dismiss='modal') Cerrar 
                                                                button(type='submit' class='btn btn-primary') Guardar
                        
                        .card
                            #headingTheree(class='card-header')
                                button(class='btn btn-link collapsed' type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree') Categorias
                            #collapseThree(class='collapse' aria-labelledby='headingThree' data-parent='#accordionExample')
                                .card-body 
                                    .container
                                        .row
                                            .col-lg-5
                                                h1(class='my-4') + Nueva Categoria
                                                .list-group
                                                    form(class='form-group' action='/guardarCategoria' method='Post') 
                                                        label(for='formGroupExampleInput') Codigo de la categoria
                                                        input(type='text' class='form-control' id='codigoC' placeholder='Codigo' name='codigoCategoria' required)
                                                        label(for='formGroupExampleInput') Nombre de la categoria
                                                        input(type='text' class='form-control' id='nombreC' placeholder='Nombre' name='nombreCategoria' required)              
                                                        label(for='formGroupExampleInput') Descripcion de la categoria
                                                        input(type='text' class='form-control' id='descripcionC' placeholder='Nombre' name='descripcionCategoria' required)
                                                        input(type='submit' class='btn btn-dark' value='agregar')
                                                button(type='button' class='btn btn-dark' data-toggle='modal' data-target='#exampleModalCenter1') Agregar Categoria
                                                #exampleModalCenter1(class='modal fade' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle1' aria-hidden='true')
                                                    .modal-dialog.modal-dialog-centered(role='document')
                                                        .modal-content
                                                            .modal-header   
                                                                h5(class='modal-title' id='exampleModalCenterTitle1') Quiere Realizar la siguiente accion
                                                                button(type="button" class='close' data-dismiss='modal' aria-label='Close')
                                                                    span(aria-hidden='true')
                                                            .modal-body
                                                                p() Si no esta seguro de realizar esta acci贸n de click en cerrar.
                                                                .br() Caso contrario siga con la accion y de click en guardar. 
                                                            .modal-footer
                                                                button(type='button' class='btn btn-secondary' data-dismiss='modal') Cerrar 
                                                                button(type='button' class='btn btn-primary') Guardar
                                            .col-lg-5
                                                h1(class='my-4') - Eliminar Una Categoria
                                                .list-group
                                                    form(class='form-group' action="") 
                                                        label(for='formGroupExampleInput') Codigo de la categoria
                                                        input(type='text' class='form-control' id='codigo' placeholder='Codigo' required)
                                                button(type='button' class='btn btn-dark' data-toggle='modal' data-target='#exampleModalCenter1') Eliminar Categoria         
                                                #exampleModalCenter1(class='modal fade' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle1' aria-hidden='true')
                                                    .modal-dialog.modal-dialog-centered(role='document')
                                                        .modal-content
                                                            .modal-header   
                                                                h5(class='modal-title' id='exampleModalCenterTitle1') Quiere Realizar la siguiente accion
                                                                button(type="button" class='close' data-dismiss='modal' aria-label='Close')
                                                                    span(aria-hidden='true')
                                                            .modal-body
                                                                p() Si no esta seguro de realizar esta acci贸n de click en cerrar.
                                                                .br() Caso contrario siga con la accion y de click en guardar. 
                                                            .modal-footer
                                                                button(type='button' class='btn btn-secondary' data-dismiss='modal') Cerrar 
                                                                button(type='button' class='btn btn-primary') Guardar
                                    .container
                                        h1(class='my-4') Actualizar categorias.

    footer(class='py-5 bg-dark')
        .container
            p(class='m-0 text-center text-white') Copyright &copy; Your Website 2019 
    script(src='css/vendor/jquery/jquery.min.js')
    script(src='css/vendor/bootstrap/js/bootstrap.bundle.min.js')