div(id="content")
    form(action="")
        .textbox
            i(class="fas fa-user")
            input(type="text" placeholder="username" required="required")
        .textbox
            i(class="fas fa-lock")
            input(type="password" placeholder="password" required="required")
        font(style="vertical-align: inherit;")
            font(style="vertical-align: inherit;")
            input(type="submit" class="btn" value="Iniciar sesion")
        font(style="vertical-align: inherit;")
            font(style="vertical-align: inherit;")
        a(href="/admin") Registrate
        
        